/* Body background color */
body {
  margin: 0;
  font-family: Arial, sans-serif; 
  background-image: url('./backgroundimg.jpg');
  z-index: -1;
  opacity: 0.; 
}
.container{
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  padding: 2rem;            /* Adjusted padding for better spacing */
       /* Rounded corners */
  width: 100%;
  box-shadow: 0 0 0px rgba(0, 0, 0, 1); /* More pronounced shadow */
  display: flex;
  align-items: center;
  justify-content: center;
   margin: 0;
  height: 100vh;
  opacity: 100%;
  background-color: rgba(204, 204, 204, 0.9);
  
  
}

.test {

  color: rgb(255, 255, 255);
  height: 100vh;
  padding: 2rem;
  background-image: url('./well.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); 
  width: 100%;
 margin: 0px;
  opacity: 100%;

  
}
.image{
  opacity:50% ;
}


form h2 {
  text-align: center;
  color: #333; 
  margin-bottom: 1rem;
}

/* Form groups */
form div {
  margin-bottom: 1.5rem; /* Increased spacing between fields */
}

/* Labels */
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333; /* Consistent color with heading */
}

/* Input fields */
input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: #333; 
}

/* Submit button */
button {
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  color: #fff ;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

/* Button hover effect */
button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

/* Error messages */
.error {
  color: red;
  font-size: 0.875rem;
}

/* Paragraphs */
p {
  margin-top: 1rem;
  text-align: center; /* Center align the text */
}

/* Links */
a {
  color: #007bff; /* Link color */
  text-decoration: none;
}

/* Link hover effect */
a:hover {
  text-decoration: underline;
}

  